@page "/listadoUsuarios"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@using SGE.Aplicacion.Servicios
@inject CasoDeUsoListarUsuarios CasoDeUsoListarUsuarios
@inject NavigationManager NavigationManager
@inject CasoDeUsoEliminarUsuario CasoDeUsoEliminarUsuario
@inject IUserService UserService
@inject IJSRuntime JSRuntime
@inject IUsuarioRepositorio IUsuarioRepositorio
@using SGE.Aplicacion.Enumerativos

<PageTitle>ListarUsuarios</PageTitle>

<h1>Listado de Usuarios</h1>

<p>A continuación se visualiza el listado de los usuarios.</p>

@if (_usuarios == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo electrónico</th>
                <th>Permisos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in _usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.CorreoElectronico</td>
                    <td>
                        @if (usuario.ListaPermisos != null && usuario.ListaPermisos.Any())
                        {
                            <ul>
                                @foreach (var permiso in usuario.ListaPermisos)
                                {
                                    <li>@permiso.ToString()</li> <!-- Asegura que se muestre el valor del permiso -->
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Sin permisos asignados</span>
                        }
                        @if(usuario.Id != 1){
                            <button class="btn btn-primary" @onclick="()=>EditarPermisos(usuario)">
                            <span class="oi oi-pencil">Editar</span>
                            </button>
                        }
                    </td>
                </tr>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarUsuario(usuario)">
                        <span class="oi oi-pencil"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(usuario)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            }
        </tbody>
    </table>
}

<div class="container">
    <button @onclick="IrAagregarUsuario" class="btn btn-primary">Agregar Expediente</button>
    <button @onclick="listadoExpedientes" class="btn btn-primary">Ir a Listado de Expedientes</button>
    <button @onclick="VolverHome" class="btn btn-primary">Home</button>
    <button @onclick="MostrarUserId">Mostrar UserId en Consola</button>
</div>
<DialogoConfirmacion @ref="dialogo" OnConfirmado="HandleConfirmarEliminacion"/>

@code {
    private int id_Usuario => UserService.UserId;
    List<Usuario> _usuarios = new List<Usuario>();
   protected override void OnInitialized()
    {
        var usuarios = CasoDeUsoListarUsuarios.Ejecutar();
        foreach (var usuario in usuarios)
        {
            usuario.ListaPermisos = IUsuarioRepositorio.GetPermisos(usuario);
        }
        _usuarios = usuarios;
    }


    private DialogoConfirmacion dialogo = null!; // Declaración de la referencia dialogo

    private Usuario? _usuarioEliminar = null;

    private void ConfirmarEliminacion(Usuario usuario)
    {
        _usuarioEliminar = usuario;
        dialogo.Mostrar($"¿Desea eliminar el usuario {usuario.Id}?");
    }
 
    private void  HandleConfirmarEliminacion(bool confirmado)
    {
        if (confirmado && _usuarioEliminar != null)
        {
             EliminarUsuarioConfirmado(confirmado);
        }
    }
    private  void EliminarUsuarioConfirmado(bool confirmado)
    {
        if (confirmado && _usuarioEliminar != null)
        {
            CasoDeUsoEliminarUsuario.Ejecutar(_usuarioEliminar,id_Usuario);
            _usuarios = CasoDeUsoListarUsuarios.Ejecutar(); // Actualiza la lista
            _usuarioEliminar = null; // Limpiar el usuario seleccionado
        }
    }
    private void EditarPermisos(Usuario usuario)
    {
        NavigationManager.NavigateTo($"/editarPermisos/{usuario.Id}");
    }

    private void ModificarUsuario(Usuario usuario)
    {
        NavigationManager.NavigateTo($"usuario/editar/{usuario.Id}");
    }

     private void IrAagregarUsuario()
    {
        NavigationManager.NavigateTo("/AgregarExpediente");
    }
    private void listadoExpedientes()
    {
        NavigationManager.NavigateTo("/listarExpedientes");
    }
     private void listaT()
    {
        NavigationManager.NavigateTo("/listarTramites"); // Vuelve al Home
    }
    private void VolverHome()
    {
        NavigationManager.NavigateTo("/"); // Vuelve al Home
    }
     async Task MostrarUserId()
    {
        // Obtener el UserId desde UserService
        int userId = UserService.UserId;

        // Llamar a console.log para imprimir el userId en la consola del navegador
        await JSRuntime.InvokeVoidAsync("console.log", $"UserId: {userId}");
    }
}