@page "/listarTramites/{idExpediente:int}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@using SGE.Aplicacion.Servicios
@inject NavigationManager NavigationManager
@inject ITramiteRepositorio ITramiteRepositorio
@inject IUserService UserService
@inject CasoDeUsoTramiteBaja CasoDeUsoTramiteBaja



<h1>Listar Trámites</h1>

<p>A continuación se visualiza el listado de los Tramites.</p>

@if (_tramites == null)
{
    <p><em>Cargando...</em></p>
}
else if (!_tramites.Any())
{
    <p>No se encontraron trámites para este expediente.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ExpedienteId</th>
                <th>Etiqueta</th>
                <th>Contenido</th>
                <th>FechaCreacion</th>
                <th>UltimaModificacion</th>
                <th>IdUsuarioUltimaModificacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tramite in _tramites)
            {
                <tr>
                    <td>@tramite.Id</td>
                    <td>@tramite.ExpedienteId</td>
                    <td>@tramite.Etiqueta</td>
                    <td>@tramite.Contenido</td>
                    <td>@tramite.FechaCreacion</td>
                    <td>@tramite.UltimaModificacion</td>
                    <td>@tramite.IdUsuarioUltimaModificacion</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => EliminarTramite(tramite)">
                            <span class="oi oi-trash">Eliminar Tramite</span>
                        </button>
                        <button class="btn btn-primary" @onclick="()=>EditarTramite(tramite)">
                        <span class="oi oi-pencil">Editar</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="container">
    <button @onclick="VolverAtras" class="btn btn-primary">Volver</button>
    <button @onclick="VolverHome" class="btn btn-primary">Home</button>
</div>

@code
{
    private int id_Usuario => UserService.UserId;
    [Parameter]
    public int idExpediente { get; set; }
    private List<Tramite>? _tramites;
    private string ErrorMessage { get; set; } = "";
    Tramite? _tramiteEliminar = null;

    protected override void OnInitialized()
    {
        try
        {
            _tramites = ITramiteRepositorio.ListarPorIdExpediente(idExpediente);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private void EliminarTramite(Tramite tramite)
    {
        _tramiteEliminar = tramite;
        if (_tramiteEliminar != null)
        {
            CasoDeUsoTramiteBaja.Ejecutar(_tramiteEliminar, id_Usuario); 
            _tramites = ITramiteRepositorio.ListarPorIdExpediente(idExpediente); //ES IMPORTANTISIMO EL _TRAMITES XQ AL PONER ESA VARIABLES QUE ES SE HACE EL REFRESH VISUAL
            _tramiteEliminar = null;
        }
    }

    private void EditarTramite (Tramite tramite)
    {
        NavigationManager.NavigateTo($"/editarTramite/{tramite.Id}");
    }

    private void VolverAtras()
    {
        NavigationManager.NavigateTo("/listarExpedientes"); // Vuelve al Home
    }
    private void VolverHome()
    {
        NavigationManager.NavigateTo("/listadoUsuarios");
    }
}
